<div class="page-header">
  <h1>
    Food Items
    <a href="/food_items/new" class="btn btn-lg btn-success">Add New Food Item</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Image</th>
        <th class="text-center">Food category</th>
        <th class="text-center">Current amount</th>
        <th class="text-center">Decrease amount</th>
        <th class="text-center">Amount purchased per Instacart order</th>
        <th class="text-center">Reorder Yet?</th>
        <th class="text-center">Actions</th>
      </tr>

      <% @food_items.each do |food_item| %>
      <tr>
        <td class="text-center"><%= food_item.name %></td>
        <td class="text-center"><img src="<%= food_item.image %>" width="100"></td>
        <td class="text-center"><%= food_item.food_category.name %></td>
        <td class="text-center"><%= food_item.current_amount %></td>
        <td class="text-center">
    <form action="/food_items/subtract/<%= food_item.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <button class = "glyphicon glyphicon-minus-sign">
    </button></form>
        </td>
        <td class="text-center"><%= food_item.amount_per_order %></td>
        <td class="text-center">
        <% if food_item.current_amount <= food_item.reorder_amount %>
        Yes
        <% elsif %>
        No
        <% end %>

        </td>
        <td class="text-center">
          <a href="/food_items/<%= food_item.id %>" class="btn btn-primary">Show</a>
          <a href="/food_items/<%= food_item.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_food_item/<%= food_item.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
